.my_0
{
    background-color: green;
}

.my_1
{
    background-color: blue;
}

.my_2
{
    background-color: red;
}

.my_3
{
    background-color: purple;
}

.my_4
{
    background-color: orange;
}

.my_5
{
    background-color: yellow;
}

.my_6
{
    background-color: pink;
}

.my_7
{
    background-color: brown;
}

.my_8
{
    background-color: gray;
}

.my_9
{
    background-color: #d63384;
}

.my_border0
{
    border: 1px solid green;
}

.my_border1
{
    border: 1px solid blue;
}

.my_border2
{
    border: 1px solid red;
}

.my_border3
{
    border: 1px solid purple;
}

.my_border4
{
    border: 1px solid orange;
}

.my_border5
{
    border: 1px solid yellow;
}

.my_border6
{
    border: 1px solid pink;
}

.my_border7
{
    border: 1px solid brown;
}

.my_border8
{
    border: 1px solid gray;
}

.my_border9
{
    border: 1px solid #d63384;
}

